// font
$base-font-family: Roboto, Arial, sans-serif;

// colors

$black: #000;
$white: #fff;
$yellow: #ffd233;
$green: #25e197;
$lighter-grey: #eaeaf0;
$light-grey: #8e8e98;
$grey: #47474c;
$light-dark-grey: #232327;
$dark-grey: #1c1c1e;

