@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';
.page {
  background-color: #000;
}
.page__section {
  margin: 0 auto;
  max-width: 1440px;
  padding: 60px 160px;
  box-sizing: border-box;
}
@media only screen and (max-width: 1439px) {
  .page__section {
    padding: 60px 60px;
  }
}
@media only screen and (max-width: 767px) {
  .page__section {
    padding: 40px 20px 30px;
  }
}
.page__section-title {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
  margin: 0;
}
@media only screen and (max-width: 1439px) {
  .page__section-title {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 767px) {
  .page__section-title {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
}
.page__section-text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  color: #8e8e98;
  margin: 0;
  margin-block-end: 60px;
}
@media only screen and (max-width: 1439px) {
  .page__section-text {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 767px) {
  .page__section-text {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-block-end: 20px;
  }
}
.page__link {
  display: block;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #fff;
  padding: 13px 30px;
  width: 100%;
  max-width: 306px;
  background-color: #47474c;
  border-radius: 8px;
  cursor: pointer;
}
.page__link_support {
  margin: 90px 0 50px;
}
@media only screen and (max-width: 1439px) {
  .page__link_support {
    margin: 80px 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .page__link_support {
    margin: 50px 0 30px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.375px;
  }
}

.header {
  padding: 60px 160px;
  max-width: 1440px;
  box-sizing: border-box;
}
@media only screen and (max-width: 1439px) {
  .header {
    padding: 60px 60px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 40px 20px 30px;
  }
}
@media only screen and (max-width: 1439px) {
  .header {
    padding-block-end: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    padding-block-end: 20px;
    padding: 24px 20px 20px;
  }
}
.header__title {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 112px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  margin: 60px 0 230px;
}
@media only screen and (max-width: 1439px) {
  .header__title {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.29;
    margin: 70px 0 470px;
  }
}
@media only screen and (max-width: 767px) {
  .header__title {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    margin: 60px 0 260px;
  }
}
.header__title-small {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 400;
  line-height: 0.87;
  margin-block-start: 20px;
}
@media only screen and (max-width: 1439px) {
  .header__title-small {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header__title-small {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.27;
    margin-block-start: 10px;
  }
}

.logo {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.logo__name {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.36;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .logo__name {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
  }
}
.logo__label {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  display: inline-block;
  padding: 4px 8px;
  background-color: #25e197;
  border-radius: 4px;
  box-sizing: border-box;
  margin-inline-start: 20px;
}
.logo_footer {
  margin-block-end: 84px;
}
@media only screen and (max-width: 767px) {
  .logo_footer {
    margin-block-end: 184px;
  }
}

.form {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.form__input {
  width: 348px;
  height: 50px;
  background-color: rgba(142, 142, 152, 0.2);
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 13px 16px;
  color: #fff;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.375px;
  cursor: pointer;
}
.form__input:hover {
  background-color: rgba(142, 142, 152, 0.3);
}
.form__input:valid {
  background-color: rgba(142, 142, 152, 0.3);
}
.form__input:focus {
  outline: none;
  background-color: rgba(142, 142, 152, 0.3);
}
@media only screen and (max-width: 1439px) {
  .form__input_header {
    flex-grow: 1;
  }
}
.form__button {
  width: 221px;
  height: 50px;
  background-color: #47474c;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #fff;
  letter-spacing: 0.375px;
  border: 0;
  border-radius: 0 8px 8px 0;
  padding: 0;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .form__button {
    width: 51px;
    min-width: 51px;
  }
}
.form__label {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #47474c;
  margin-block-start: 12px;
  margin-inline-start: 10px;
}
@media only screen and (max-width: 767px) {
  .form__label {
    margin-inline-start: 0;
  }
}
@media only screen and (max-width: 767px) {
  .form__button-text {
    display: none;
  }
}
.form__button-text-icon-disabled {
  display: none;
}
@media only screen and (max-width: 767px) {
  .form__button-text-icon-disabled {
    display: inline;
  }
}

.leica {
  padding: 60px 30px 40px;
}
@media only screen and (max-width: 1439px) {
  .leica {
    padding: 20px 60px 60px;
  }
}
@media only screen and (max-width: 767px) {
  .leica {
    padding: 20px 20px;
  }
}
.leica__row {
  display: flex;
  flex-flow: row;
  margin-block-end: 20px;
}
@media only screen and (max-width: 767px) {
  .leica__row {
    flex-flow: column;
  }
}
.leica__row:last-of-type {
  margin: 0;
}
.leica__block {
  width: 100%;
  border-radius: 10px;
}
@media only screen and (max-width: 767px) {
  .leica__block {
    max-width: 100%;
    min-width: 100%;
    border-radius: 4px;
  }
}
.leica__block_yellow {
  max-height: 230px;
  max-width: 912px;
  min-width: 180px;
  background-color: #ffd233;
  margin-inline-start: 20px;
}
@media only screen and (max-width: 767px) {
  .leica__block_yellow {
    max-width: 100%;
    min-height: 67px;
    margin-inline-start: 0px;
    margin-block-start: 20px;
  }
}
.leica__block_green {
  max-height: 552px;
  min-height: 344px;
  max-width: 630px;
  min-width: 173px;
  background-color: #25e197;
  margin-inline-end: 20px;
}
@media only screen and (max-width: 767px) {
  .leica__block_green {
    max-width: 100%;
    max-height: 124px;
    min-height: 124px;
    margin-inline-end: 0;
    margin-block-end: 20px;
  }
}
.leica__image {
  display: block;
  width: 100%;
  height: auto;
}
.leica__image_small {
  max-width: 448px;
}
@media only screen and (max-width: 767px) {
  .leica__image_small {
    max-width: 100%;
  }
}
.leica__image_big {
  max-width: 730px;
  min-width: 455px;
}
@media only screen and (max-width: 767px) {
  .leica__image_big {
    max-width: 100%;
    min-width: 100%;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.list_small-card {
  margin-block-start: 60px;
}
@media only screen and (max-width: 767px) {
  .list_small-card {
    margin-block-start: 40px;
  }
}
.list__card {
  background-color: #1c1c1e;
  border-radius: 16px;
  padding: 40px;
  margin-inline-end: 20px;
  max-width: 550px;
  min-height: 364px;
  box-sizing: border-box;
  cursor: pointer;
}
.list__card:hover {
  background-color: #232327;
}
@media only screen and (max-width: 1439px) {
  .list__card {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .list__card {
    padding: 20px;
    min-height: 282px;
  }
}
.list__card:last-of-type {
  margin: 0;
}
.list__card_small-card {
  padding: 20px;
  max-width: 265px;
  min-height: 153px;
}
@media only screen and (max-width: 1439px) {
  .list__card_small-card {
    max-width: calc(50% - 10px);
    min-width: 280px;
    margin-inline-end: 20px;
  }
  .list__card_small-card:nth-of-type(2n) {
    margin-inline-end: 0;
  }
  .list__card_small-card:nth-of-type(3) {
    margin-block-end: 0;
  }
}
@media only screen and (max-width: 1439px) and (max-width: 767px) {
  .list__card_small-card:nth-of-type(3) {
    margin-block-end: 20px;
  }
}
@media only screen and (max-width: 1439px) {
  .list__card_small-card:nth-of-type(4) {
    margin-block-end: 0;
  }
}
@media only screen and (max-width: 1439px) and (max-width: 767px) {
  .list__card_small-card {
    width: 100%;
    max-width: 100%;
    margin-inline-end: 0px;
    min-height: 148px;
  }
}
.list__card-text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  color: #8e8e98;
  margin: 0;
  margin-block-end: 36px;
}
@media only screen and (max-width: 767px) {
  .list__card-text {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-block-end: 100px;
  }
}
.list__card-text_small-card {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.27;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .list__card-text_small-card {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
}
.list__card-label {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #8e8e98;
  margin: 0;
  margin-block-end: 20px;
}
@media only screen and (max-width: 767px) {
  .list__card-label {
    margin-block-end: 10px;
  }
}
.list__card-label_small-card {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #eaeaf0;
  margin-block-end: 38px;
}
.list__card-title {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  margin: 0;
  margin-block-end: 40px;
}
@media only screen and (max-width: 767px) {
  .list__card-title {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    margin-block-end: 28px;
  }
}
.list__card-price {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #25e197;
}
@media only screen and (max-width: 767px) {
  .list__card-price {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.footer {
  padding: 120px 160px 60px;
}
@media only screen and (max-width: 1439px) {
  .footer {
    padding: 90px 60px 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 130px 20px 0;
  }
}
.footer__line {
  border-top: 2px solid #151515;
  margin-block-end: 60px;
}
@media only screen and (max-width: 767px) {
  .footer__line {
    margin-block-end: 30px;
  }
}
.footer__bottom {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 18px;
}
@media only screen and (max-width: 1439px) {
  .footer__bottom {
    flex-flow: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .footer__bottom {
    margin-block-start: 10px;
  }
}
.footer__text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #47474c;
}
@media only screen and (max-width: 1439px) {
  .footer__text {
    margin-block-end: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__text {
    margin-block-end: 40px;
  }
}

/*# sourceMappingURL=index.css.map */
